input[type=text]{
    border-color:rgb(185, 212, 209);
    background-color: rgb(185, 212, 209);
}

.titulo,
.hora,
.hora1
{
    background-color: rgb(44, 170, 228) !important;
}

td{
    background-color: rgb(185, 212, 209) !important;
}
